<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<p>get_total_revenue</p>
<%= area_chart get_total_revenue %>
<p>get_total_number_of_events</p>
<%= area_chart get_total_number_of_events %>
<p>get_total_volume</p>
<%= area_chart get_total_volume %>
<p>get_total_weight</p>
<%= area_chart get_total_weight %>
<p>get_total_number_of_items</p>
<%= area_chart get_total_number_of_items %>

<p>get_critical_routes</p>
<%= line_chart get_critical_routes %>



