<%= form_for(@mail) do |f| %>
  <% if @mail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mail.errors.count, "error") %> prohibited this mail from being saved:</h2>

      <ul>
      <% @mail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="new-mail-table" >
    
  <tr>
    <td><%= f.label :sender %></td>
    <td><%= f.text_field :sender , required: true, placeholder:'Senders Name' %></td>
  </tr>

  <tr>
    <td><%= f.label :receiver %></td>
    <td><%= f.text_field :receiver , required: true, placeholder:'Reciever Name'%></td>
  </tr>

  <tr>
    <td><%= f.label :to %></td>
    <td><%= f.collection_select :to, Location.all, :name, :name, :include_blank => 'SELECT ORIGIN' , required: true %></td>
  </tr>

  <tr>
    <td><%= f.label :from %></td>
    <td><%= f.collection_select :from, Location.all, :name, :name, :include_blank => 'SELECT DESTINATION' , required: true %></td>
  </tr>

  <tr>
    <td><%= f.label :international, "International" %></td>
    <td><%= f.check_box :international %></td>
  </tr>

  <tr>
    <td><%= f.label :weight %></td>
    <td><%= f.text_field :weight, placeholder:'grams' %></td>
  </tr>

  <tr>
    <td><%= f.label :volume %></td>
    <td><%= f.text_field :volume, placeholder:'cm³' %></td>
  </tr>

  <tr>
    <td><%= f.label :priority %></td>
    <td><%= f.select :priority, [['Air', 'Air'], ['Land', 'Land']], :include_blank => 'SELECT TRANSPORT', required: true %></td>
  </tr>

  <tr>
    <td><%= f.label :send_date %></td>
    <td><%= f.date_select :send_date, required: true %></td>
  </tr>

  <% if !@mail.new_record? %>
      <tr>
        <td><%= f.label :receive_date %></td>
        <td><%= f.date_select :receive_date , required: true%></td>
      </tr>

  <% end %>

  <tr>
    <td><%= f.label :max_delivery_time  %></td>
    <td><%= f.date_select :max_delivery_time , required: true%></td>
  </tr>

  <tr>
    <td><%= f.label :cost %></td>
    <td><%= f.text_field :cost, :readonly => true, placeholder:'NZD' %></td>
  </tr>

  <tr>
    <td class="back-button" ><%= link_to 'Back', mail_index_path %></td>
    <td><%= f.submit %></td>
  </tr>

  </table>
<% end %>
