<div class="partial-mail">
	<% mail = Mail.find(id) %>
	<p id="notice"><%= notice %></p>

	<table>
		
		<tr>
			<td class="mail-bold">destination</td>
			<td><%= mail.to %></td>
		</tr>

		<tr>
			<td class="mail-bold">origin</td>
			<td><%= mail.from %></td>
		</tr>

		<tr>
			<td class="mail-bold">priority</td>
			<td><%= mail.priority %></td>
		</tr>

		<tr>
			<td class="mail-bold">cost</td>
			<td><%= mail.cost %></td>
		</tr>

		<tr>
			<td class="mail-bold">current location</td>
			<td><%= mail.current_location %></td>
		</tr>

		<tr>
			<td class="mail-edit-button"><%= link_to 'Edit', edit_mail_path(mail) %></td
		</tr>

	</table>

	
</div>