<h1>Listing mail</h1>

<table>
  <thead>
    <tr>
      <th>To</th>
      <th>From</th>
      <th>Weight</th>
      <th>Volume</th>
      <th>Priority</th>
      <th>Send date</th>
      <th>Receive date</th>
      <th>Max delivery time</th>
      <th>Cost</th>
      <th>Current location</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @mail.each do |mail| %>
      <tr>
        <td><%= mail.to %></td>
        <td><%= mail.from %></td>
        <td><%= mail.weight %></td>
        <td><%= mail.volume %></td>
        <td><%= mail.priority %></td>
        <td><%= mail.send_date %></td>
        <td><%= mail.receive_date %></td>
        <td><%= mail.max_delivery_time %></td>
        <td><%= mail.cost %></td>
        <td><%= mail.current_location %></td>
        <td><%= link_to 'Show', mail %></td>
        <td><%= link_to 'Edit', edit_mail_path(mail) %></td>
        <td><%= link_to 'Destroy', mail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mail', new_mail_path %>
