<p id="notice"><%= notice %></p>

<p>
  <strong>To:</strong>
  <%= @mail.to %>
</p>

<p>
  <strong>From:</strong>
  <%= @mail.from %>
</p>

<p>
  <strong>Day:</strong>
  <%= @mail.day %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @mail.weight %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @mail.volume %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @mail.priority %>
</p>

<p>
  <strong>Send date:</strong>
  <%= @mail.send_date %>
</p>

<p>
  <strong>Receive date:</strong>
  <%= @mail.receive_date %>
</p>

<p>
  <strong>Max delivery time:</strong>
  <%= @mail.max_delivery_time %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @mail.cost %>
</p>

<p>
  <strong>Current location:</strong>
  <%= @mail.current_location %>
</p>

<%= link_to 'Edit', edit_mail_path(@mail) %> |
<%= link_to 'Back', mail_index_path %>
