<p id="notice"><%= notice %></p>

<div class="mail-card">

<h1>mail details</h1>

  <table class="mail-view">

    <tr>
      <td class="mail-label" ><a>tracking id</a></td>
      <td><%= @mail.id %></td>
    </tr>
    
    <tr>
      <td class="mail-label" ><a>destination</a></td>
      <td><%= @mail.to %></td>
    </tr>

    <tr>
      <td class="mail-label" ><a>origin</a></td>
      <td><%= @mail.from %></td>
    </tr>

    <tr>
      <td class="mail-label" ><a>weight</a></td>
      <td><%= @mail.weight %></td>
    </tr>

    <tr>
      <td class="mail-label" ><a>volume</a></td>
      <td><%= @mail.volume %></td>
    </tr>

    <tr>
      <td class="mail-label" ><a>priority</a></td>
      <td><%= @mail.priority %></td>
    </tr>

    <tr>
      <td class="mail-label" ><a>sent</a></td>
      <td><%= @mail.send_date %></td>
    </tr>

    <tr>
      <td class="mail-label" ><a>received</a></td>
      <td><%= @mail.receive_date %></td>
    </tr>

    <tr>
      <td class="mail-label" ><a>max. delivery time</a></td>
      <td><%= @mail.max_delivery_time %></td>
    </tr>

    <tr>
      <td class="mail-label" ><a>cost</td>
      <td><%= @mail.cost %></td>
    </tr>

    <tr>
      <td class="mail-label" ><a>current location</a></td>
      <td><%= @mail.current_location %></td>
    </tr>

  </table>


<div class="mail-edit-button"><%= link_to 'Edit', edit_mail_path(@mail) %></div>
<div class="mail-back-button"><%= link_to 'Back', mail_index_path %></div>


</div>