<div class="login-form">

  <%= form_for @user do |f| %>

      <div class = "title">
        <h1>Sign up</h1>
        <span>
        Fill out this form to register for an account
        </span>
      </div>
      <div class="content">
        <ul class="list-item">
          <li>
            <%= f.text_field :email, :class => 'input', :placeholder => 'email'%>
          </li>
          <li>
            <%= f.password_field :password, :class => 'input', :placeholder => 'password'%>
          </li>
          <li>
            <%= f.password_field :password_confirmation, :class => 'input', :placeholder => 'password confirmation'%>
          </li>
        </ul>
        <div class = "button-div">
          <%= f.submit :class => 'button'%>
        </div>
      </div>
  <% end %>

</div>
