<div class="home-logview">
<table>
    <tr>
      <th>Details</th>
      <th>Time</th>
    </tr>


    <% @notifications.each do |notification| %>
      <tr class="home-main-row">
        <td class="open_event" , id = "<%= notification.id %>"><%= notification.event_details %></td>
        <td><%= notification.event_time %></td>
      </tr>

      <tr class="event-drop-down" id = "id<%= notification.id %>" , style = "display:none">
        <td colspan="2" ><%= render_event(notification) %></td>
      </tr>

    <% end %>
</table>

</div>