<div class="business-logview">
<table>
  <thead>
    <tr>
      <th>Event Details</th>
      <th>Time</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>

      <tr class="logview-main-row" >
        <td class="open_event" , id = "<%= event.id %>"><%= event.event_details %></td>
        <td class="open_event" , id = "<%= event.id %>"><%= event.event_time %></td>
      </tr>

      <tr class="event-drop-down" id = "id<%= event.id %>" , style = "display:none">

        <td colspan="2" ><%= render_event(event) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

