<%= form_for @company, html: {:class => "pure-form"} do |f| %>
    <div>
      <div>
        <ul>
          <li>enter company name</li>
          <li>enter destination</li>
          <li>enter start</li>
          <li>enter weight cost</li>
          <li>enter volume cost</li>
          <li>enter max weight</li>
          <li>enter max volume</li>
          <li>days when unavailable for delivery</li>
          <li>frequency</li>
          <li>priority</li>
          <li>utilised?</li>
        </ul>
      </div>
      <div>
        <fieldset id = "connection">
          <%= f.text_field :company, :class => 'pure-input-1-2', :placeholder => 'Company'%>
          <%= f.text_field :to, :class => 'pure-input-1-2', :placeholder => 'To'%>
          <%= f.text_field :from, :class => 'pure-input-1-2', :placeholder => 'From'%>
          <%= f.text_field :weight_cost, :class => 'pure-input-1-2', :placeholder => 'Weight Cost'%>
          <%= f.text_field :volume_cost, :class => 'pure-input-1-2', :placeholder => 'Volume Cost'%>
          <%= f.text_field :max_weight, :class => 'pure-input-1-2', :placeholder => 'Max Weight'%>
          <%= f.text_field :max_volume, :class => 'pure-input-1-2', :placeholder => 'Max Volume'%>
          <%= f.text_field :day, :class => 'pure-input-1-2', :placeholder => 'Days'%>
          <%= f.text_field :frequency, :class => 'pure-input-1-2', :placeholder => 'Frequency'%>
          <%= f.text_field :priority, :class => 'pure-input-1-2', :placeholder => 'Priority'%>
          <%= submit_tag "add" %>
        </fieldset>
      </div>
    </div>
   <!-- <button id="submit">add new connection</button> -->
<%end%>

<%= form_for(@company, :html => { :method => :delete, :remote => true }) do |f| %>
    <%= submit_tag "delete" %>
<% end %>
