<fieldset class="connections-form">

<table>
  
  <tr>
    <td><%= f.label :location_one, "Start Location" %></td>

    <% if f.object.new_record? %>
      <td><%= f.text_field :location_one, placeholder:'City Name' %></td>
      <td>
      <% if Location.all.any? %>
          <p> or select from: </p>
          <%= f.collection_select :location_one_drop_down, Location.all, :name, :name, :include_blank => 'Select a location' %>
          <br>
        <% end %>
    <% else %>
          <td><%= f.text_field :location_one, :readonly => true %></td>
        <br>
      <% end %>
      </td>
  </tr>

  <tr>
    <td><%= f.label :location_two, "End Location" %></td>
    
    <% if f.object.new_record? %>
      <td><%= f.text_field :location_two, placeholder:'City Name' %></td>
      <td><% if Location.all.any? %>
          <p> or select from: </p>
          <%= f.collection_select :location_two_drop_down, Location.all, :name, :name, :include_blank => 'Select a location' %>
        <% end %>
      <% else %>

          <td><%= f.text_field :location_two, :readonly => true %></td>

      <% end %>
    </td>
  </tr>

  <tr>
    <td><%= f.label :weight_cost, "Weight Cost" %></td>
    <td><%= f.text_field :weight_cost, required: true, placeholder:'NZD/g' %></td>
    <td></td>
  </tr>

  <tr>
    <td><%= f.label :volume_cost, "Volume Cost" %></td>
    <td><%= f.text_field :volume_cost , required: true, placeholder:'NZD/cm³' %></td>
    <td></td>
  </tr>

  <tr>
    <td><%= f.label :max_weight, "Max Weight" %></td>
    <td><%= f.text_field :max_weight, required: true, placeholder:'grams' %></td>
    <td></td>
  </tr>

  <tr>
    <td><%= f.label :max_volume, "Max Volume" %></td>
    <td><%= f.text_field :max_volume,required: true, placeholder:'cm³' %></td>
    <td></td>
  </tr>

  <tr>
    <td><%= f.label :duration, "Duration" %></td>
    <td><%= f.text_field :duration,required: true, placeholder:'Hours to reach destination' %></td>
    <td></td>
  </tr>

  <tr>
    <td><%= f.label :frequency, "Frequency" %></td>
    <td><%= f.text_field :frequency, placeholder:'Hours between each departure' %></td>
    <td></td>
  </tr>

  <tr>
    <td><%= f.label :priority, "Priority" %></td>
    <td><%= f.text_field :priority,required: true, placeholder:'Form of Transportation' %></td>
    <td></td>
  </tr>

  
  <tr>
    <td><%= f.label :day, "Day" %></td>
    <td><%= f.text_field :day,required: true, placeholder:'Day of departure' %></td>
    <td></td>
  </tr>

    <tr>
    <td><%= f.label :monday, "Monday" %></td>
    <td><%= f.check_box :monday%></td>
    <td></td>
  </tr>
    <tr>
    <td><%= f.label :tuesday, "Tuesday" %></td>
    <td><%= f.check_box :tuesday%></td>
    <td></td>
  </tr>
    <tr>
    <td><%= f.label :wednesday, "Wednesday" %></td>
    <td><%= f.check_box :wednesday %></td>
    <td></td>
  </tr>
    <tr>
    <td><%= f.label :thursday, "Thursday" %></td>
    <td><%= f.check_box :thursday %></td>
    <td></td>
  </tr>
    <tr>
    <td><%= f.label :friday, "Friday" %></td>
    <td><%= f.check_box :friday%></td>
    <td></td>
  </tr>
    <tr>
    <td><%= f.label :saturday, "Saturday" %></td>
    <td><%= f.check_box :saturday%></td>
    <td></td>
  </tr>
    <tr>
    <td><%= f.label :sunday, "Sunday" %></td>
    <td><%= f.check_box :sunday%></td>
    <td></td>
  </tr>

  <tr>
    <td><%= f.label :utilised, "Utilised" %></td>
    <td><%= f.check_box :utilised%></td>
    <td></td>
  </tr>
  <% if !f.object.new_record? %>
  <tr>
    <td><%= f.label :_destroy, "Delete" %></td>
    <td><%= f.check_box :_destroy %></td>
    <td></td>
  </tr>
<% end %>
</table>

</fieldset>
