<fieldset class="connections-form">

<table>
  
  <tr>
    <td><%= f.label :location_one, "Start Location" %></td>

    <% if f.object.new_record? %>
      <td><%= f.text_field :location_one %></td>
      <td>
      <% if Location.all.any? %>
          <p> or select from: </p>
          <%= f.collection_select :location_one_drop_down, Location.all, :name, :name, :include_blank => 'Select a location' %>
          <br>
        <% end %>
    <% else %>
          <td><%= f.text_field :location_one, :readonly => true %></td>
        <br>
      <% end %>
      </td>
  </tr>

  <tr>
    <td><%= f.label :location_two, "End Location" %></td>
    
    <% if f.object.new_record? %>
      <td><%= f.text_field :location_two %></td>
      <td><% if Location.all.any? %>
          <p> or select from: </p>
          <%= f.collection_select :location_two_drop_down, Location.all, :name, :name, :include_blank => 'Select a location' %>
        <% end %>
      <% else %>

          <td><%= f.text_field :location_two, :readonly => true %></td>

      <% end %>
    </td>
  </tr>

  <tr>
    <td><%= f.label :weight_cost, "Weight Cost" %></td>
    <td><%= f.text_field :weight_cost, required: true %></td>
    <td></td>
  </tr>

  <tr>
    <td><%= f.label :volume_cost, "Volume Cost" %></td>
    <td><%= f.text_field :volume_cost , required: true %></td>
    <td></td>
  </tr>

  <tr>
    <td><%= f.label :max_weight, "Max Weight" %></td>
    <td><%= f.text_field :max_weight, required: true %></td>
    <td></td>
  </tr>

  <tr>
    <td><%= f.label :max_volume, "Max Volume" %></td>
    <td><%= f.text_field :max_volume,required: true %></td>
    <td></td>
  </tr>

  <tr>
    <td><%= f.label :duration, "Duration" %></td>
    <td><%= f.text_field :duration,required: true %></td>
    <td></td>
  </tr>

  <tr>
    <td><%= f.label :frequency, "Frequency" %></td>
    <td><%= f.text_field :frequency %></td>
    <td></td>
  </tr>

  <tr>
    <td><%= f.label :priority, "Priority" %></td>
    <td><%= f.text_field :priority,required: true %></td>
    <td></td>
  </tr>

  
  <tr>
    <td><%= f.label :day, "Day" %></td>
    <td><%= f.text_field :day,required: true %></td>
    <td></td>
  </tr>

  <tr>
    <td><%= f.label :utilised, "Utilised" %></td>
    <td><%= f.check_box :utilised%></td>
    <td></td>
  </tr>

  <tr>
    <td><%= f.label :_destroy, "Delete" %></td>
    <td><%= f.check_box :_destroy %></td>
    <td></td>
  </tr>

</table>

</fieldset>
