<div class="partial-company">
	<% company = Company.find(id) %>

	<table>
		
		<tr>
			<td class="company-bold">Company Name</td>
			<td><%= company.company_name%></td>
		</tr>

		<% company.connections.each do |conn| %>
			<tr class="company-border">
				<td class="company-bold">Connection</td>
				<td><%= conn.location_one + " to " + conn.location_two %></td>
			</tr>

			<tr>
				<td class="company-bold">weight cost</td>
				<td><%= "$" + conn.weight_cost.to_s + "/g"%></td>
			</tr>

			<tr>
				<td class="company-bold">volume cost</td>
				<td><%= "$" + conn.volume_cost.to_s + "/cm³"%></td>
			</tr>
		<% end %>
	</table>

	<div class="edit-partial"><%= link_to 'Edit', edit_company_path(company) %></div>
</div>
