<div class="pricing-form">
<%= form_for(@price) do |f| %>
  <% if @price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@price.errors.count, "error") %> prohibited this price from being saved:</h2>

      <ul>
      <% @price.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
     <th>International</th>
     <th></th>
     <th width="20px"></th>
     <th>Domestic</th>

     <tr class="pricing-desc">
       <td>Volume Cost</td>
       <td>$ per Cubic Metre</td>
     </tr>

     <tr>
        <td><%= f.label "Air" %></td> 
        <td><%= f.text_field :i_air_v_cost, placeholder:'NZD/cm続' %></td>
        <td class="pricing-spacer"></td>
        <td><%= f.label "Air" %></td>
        <td><%= f.text_field :d_air_v_cost, required: true, placeholder:'NZD/cm続' %></td>
    </tr>
    <tr>
        <td><%= f.label "Land" %></td>
        <td><%= f.text_field :i_land_v_cost, required: true, placeholder:'NZD/cm続' %></td>
        <td></td>
        <td><%= f.label "Land" %></td>
        <td><%= f.text_field :d_land_v_cost, required: true, placeholder:'NZD/cm続' %></td>
    </tr>

    <tr height="20px"></tr>

    <tr class="pricing-desc">
       <td>Weight Cost</td>
       <td>$ Per Gram</td>
     </tr>

    <tr>
        <td><%= f.label "Air" %></td>
        <td><%= f.text_field :i_air_w_cost, required: true, placeholder:'NZD/g' %></td>
        <td></td>
        <td><%= f.label "Air" %></td>
        <td><%= f.text_field :d_air_w_cost ,required: true, placeholder:'NZD/g'%></td>
    </tr>
    
    <tr>
        <td><%= f.label "Land" %></td>
        <td><%= f.text_field :i_land_w_cost, placeholder:'NZD/g' %></td>
        <td></td>
        <td><%= f.label "Land" %></td>
        <td><%= f.text_field :d_land_w_cost, placeholder:'NZD/g' %></td>
    </tr>
    
  </table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>