<% @price = Price.find(id) %>

<p id="notice"><%= notice %></p>

	<strong>International</strong>
	<p>
	  <strong>Air: $ per cubic cm:</strong>
	  <%= @price.i_air_v_cost %>
	</p>
	<p>
	  <strong>Air: $ per gram:</strong>
	  <%= @price.i_air_w_cost %>
	</p>
	<p>
	  <strong>Land/Sea: $ per cubic cm:</strong>
	  <%= @price.i_land_v_cost %>
	</p>
	<p>
	  <strong>Land/Sea: $ per per gram:</strong>
	  <%= @price.i_land_w_cost %>
	</p>
    <strong>Domestic</strong>
    <p>
      <strong>Air: $ per cubic cm:</strong>
      <%= @price.d_air_v_cost %>
    </p>
    <p>
      <strong>Air: $ per gram:</strong>
      <%= @price.d_air_w_cost %>
    </p>
    <p>
      <strong>Land/Sea: $ per cubic cm:</strong>
      <%= @price.d_land_v_cost %>
    </p>
    <p>
      <strong>Land/Sea: $ per per gram:</strong>
      <%= @price.d_land_w_cost %>
    </p>

	<%= link_to 'Edit', edit_price_path(@price) %>
