<h1>Customer Pricing</h1>



<table>
   <th>International</th>
  <tr>
      <td>Air Priority - Weight Cost</td>
      <td><%= @prices.i_air_w_cost %></td>
  </tr>
  <tr>
      <td>Air Priority - Volume Cost</td>
      <td><%= @prices.i_air_v_cost %></td>
  </tr>
  <tr>
      <td>Land Priority - Weight Cost</td>
      <td><%= @prices.i_land_w_cost %></td>
  </tr>
  <tr>
      <td>Land Priority - Volume Cost</td>
      <td><%= @prices.i_land_v_cost %></td>
  </tr>
</table>

<table>
    <th>Domestic</th>
    <tr>
      <td>Air Priority - Weight Cost</td>
      <td><%= @prices.d_air_w_cost %></td>
    </tr>
    <tr>
      <td>Air Priority - Volume Cost</td>
      <td><%= @prices.d_air_v_cost %></td>
    </tr>
    <tr>
      <td>Land Priority - Weight Cost</td>
      <td><%= @prices.d_land_w_cost %></td>
    </tr>
    <tr>
      <td>Land Priority - Volume Cost</td>
      <td><%= @prices.d_land_v_cost %></td>
    </tr>
      <td><%= link_to 'Update Pricing', edit_price_path(@prices) %></td>
    </tr> 
</table>
<br />

<%= link_to 'New Price', new_price_path %>
