<div class="pricing-card">
<h1>Customer Pricing</h1>


<% if !Price.count.zero? %>
  <table>
     <th>International</th>
    <tr>
        <td>Air Priority - $ Per Kilogram</td>
        <td><%= @prices.i_air_w_cost %></td>
    </tr>
    <tr>
        <td>Air Priority - $ per Cubic Metre</td>
        <td><%= @prices.i_air_v_cost %></td>
    </tr>
    <tr>
        <td>Land Priority - $ Per Kilogram</td>
        <td><%= @prices.i_land_w_cost %></td>
    </tr>
    <tr>
        <td>Land Priority - $ Per Cubic Metre</td>
        <td><%= @prices.i_land_v_cost %></td>
    </tr>

      <th>Domestic</th>
      <tr>
        <td>Air Priority - $ Per Kilogram</td>
        <td><%= @prices.d_air_w_cost %></td>
      </tr>
      <tr>
        <td>Air Priority - $ Per Cubic Metre</td>
        <td><%= @prices.d_air_v_cost %></td>
      </tr>
      <tr>
        <td>Land Priority - $ Per Kilogram</td>
        <td><%= @prices.d_land_w_cost %></td>
      </tr>
      <tr>
        <td>Land Priority - $ Per Cubic Metre</td>
        <td><%= @prices.d_land_v_cost %></td>
      </tr>
  </table>
<% end %>
<br />
<!-- If we have a prices model then show edit priciing otherwise show a new price-->
<%= link_to 'Manage Pricing', new_or_edit_price_path(@prices) %>

</div>
