<div class="pricing-card">
<h1>Customer Pricing</h1>


<% if !Price.count.zero? %>
  <table>
     <th>International</th>
     <th></th>
     <th width="20px"></th>
     <th>Domestic</th>

     <tr class="pricing-desc">
       <td>Volume Cost</td>
       <td>$ per Cubic Metre</td>
     </tr>

     <tr>
        <td>Air</td> 
        <td><%= @prices.i_air_v_cost %></td>
        <td class="pricing-spacer"></td>
        <td>Air</td>
        <td><%= @prices.d_air_v_cost %></td>
    </tr>
    <tr>
        <td>Land</td>
        <td><%= @prices.i_land_v_cost %></td>
        <td></td>
        <td>Land</td>
        <td><%= @prices.d_land_v_cost %></td>
    </tr>

    <tr height="20px"></tr>

    <tr class="pricing-desc">
       <td>Weight Cost</td>
       <td>$ Per Kilogram</td>
     </tr>

    <tr>
        <td>Air</td>
        <td><%= @prices.i_air_w_cost %></td>
        <td></td>
        <td>Air</td>
        <td><%= @prices.d_air_w_cost %></td>
    </tr>
    
    <tr>
        <td>Land</td>
        <td><%= @prices.i_land_w_cost %></td>
        <td></td>
        <td>Land</td>
        <td><%= @prices.d_land_w_cost %></td>
    </tr>
    
  </table>
<% end %>
<br />
<!-- If we have a prices model then show edit priciing otherwise show a new price-->
<div class="green-button" ><%= link_to 'Update Prices', new_or_edit_price_path(@prices) %></div>

</div>
