<p id="notice"><%= notice %></p>

<p>
  <strong>I air w cost:</strong>
  <%= @price.i_air_w_cost %>
</p>

<p>
  <strong>I air v cost:</strong>
  <%= @price.i_air_v_cost %>
</p>

<p>
  <strong>I land w cost:</strong>
  <%= @price.i_land_w_cost %>
</p>

<p>
  <strong>I land v cost:</strong>
  <%= @price.i_land_v_cost %>
</p>

<p>
  <strong>D air w cost:</strong>
  <%= @price.d_air_w_cost %>
</p>

<p>
  <strong>D air v cost:</strong>
  <%= @price.d_air_v_cost %>
</p>

<p>
  <strong>D land w cost:</strong>
  <%= @price.d_land_w_cost %>
</p>

<p>
  <strong>D land v cost:</strong>
  <%= @price.d_land_v_cost %>
</p>

<%= link_to 'Edit', edit_price_path(@price) %> |
<%= link_to 'Back', prices_path %>
