<%= form_for @company, html: {:class => "pure-form"} do |f| %>
    <div>
      <div>
      <fieldset id = "connection">
        <%= f.text_field :to, :class => 'pure-input-1-2', :placeholder => 'To'%>
        <%= f.text_field :from, :class => 'pure-input-1-2', :placeholder => 'From'%>
        <%= f.text_field :weight_cost, :class => 'pure-input-1-2', :placeholder => 'Weight Cost'%>
        <%= f.text_field :max_weight, :class => 'pure-input-1-2', :placeholder => 'Max Weight'%>
        <%= f.text_field :max_volume, :class => 'pure-input-1-2', :placeholder => 'Max Volume'%>
        <%= f.text_field :days, :class => 'pure-input-1-2', :placeholder => 'Days'%>
        <%= f.text_field :priority, :class => 'pure-input-1-2', :placeholder => 'Priority'%>
      </fieldset>
      <button id="submit" class="pure-button pure-input-1-2 pure-button-primary">Sign in</button>
      </div>
      <div>

      </div>
     </div>
<%end%>
<table class="pure-table">
  <thead>
  <tr>
    <th>#</th>
    <th>To</th>
    <th>From</th>
    <th>Priority</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <% get_companies.each_with_index do |comp, i| %>
        <td> <%i%> </td>
        <td> <%comp[:to]%> </td>
        <td> <%comp[:from]%> </td>
        <td> <%comp[:priorities]%> </td>
    <%  end %>
  </tr>
  </tbody>
</table>

<script type="text/javascript">

    $('#submit').on('click', function(){
        <% @company = create_new_company %>
    });

</script>