<%= form_for(@route) do |f| %>
  <% if @route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@route.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
      <% @route.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <br/>
      <%= f.label :name, "Name" %>
      <br/>
      <%= f.text_field :name %>


      <div id="starter_connection">
        <%= f.select(:connection, Connection.all.collect {|a| [a.location_one + " to/from " + a.location_two, a.id ] }, :include_blank => 'Select a starting connection') %>
      </div>


      <%= f.fields_for :connections do |builder| %>
        <%= render 'connection_fields', :f => builder %>
      <% end %>

      <div >
         <p><%= link_to_add_fields "Add Connection", f, :connections %></p>
      </div>

      <div class="actions">
        <%= f.submit %>
      </div>
    </div>

<% end %>
