<%= form_for(@route) do |f| %>
  <% if @route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@route.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
      <% @route.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
      <br/>
      <%= f.label :name, "Name" %>
      <br/>
      <%= f.text_field :name %>


      <select id = "connections">
        <% Connection.all.each do |connection| %>
            <option><% connection.location_one %> to/from <% connection.location_two %> </option>
        <% end %>
      </select>


      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
<% end %>


<script type="text/javascript">
  $ = jQuery;

  $(document).ready(function() {
    $()
  });
</script>
