<div class="routes-card" >
<%= javascript_include_tag :defaults %>
<h1>current routes</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @routes.each do |route| %>
      <tr>
        <td>
         <%= route.name %>
        </td>
        <td>
          <%= get_route_as_string(route.connections) %>
        </td>
      <tr>
      <tr>
        <td><%= link_to 'Update Or Add To', edit_route_path(route) %></td>
        <td><%= link_to 'Remove', route, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Route', new_route_path %>

</div>