<div class="routes-card" >
<%= javascript_include_tag :defaults %>
<h1>current routes</h1>

<table class="main-table">
    <tr>
      <th>route</th>
      <th colspan="3">distribution centers</th>
    </tr>

    <% @routes.each do |route| %>
      <tr>
        <td>
         <%= route.name %>
        </td>
        <td>
          <%= get_route_as_string(route.connections) %>
        </td>
        <td class="grey-button"><%= link_to 'manage', edit_route_path(route) %></td>
        <td class="grey-button"><%= link_to 'Remove', route, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <tr>

    <% end %>

</table>

<br>

<div class="green-button"><%= link_to 'New Route', new_route_path %></div>

</div>