<!DOCTYPE html>
<html>
<head>
  <title>TheIndoorKites</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300,300italic,400italic' rel='stylesheet' type='text/css'>
</head>
<body>
<div  id="top-menu">
    <div id="header" class="pure-menu pure-menu-open pure-menu-horizontal">
        <%= link_to 'Kelburn Postal Service', homepage_path, class: "pure-menu-heading" %>
        <ul >
            <li>
                <a href="#">Mail</a>
            </li>
            <li>
              <%= link_to 'Transport firms', transport_firm_path %>
            </li>
            <li>
                <a href="#">Connections</a>
            </li>
            <li>
                <a href="#">Pricing</a>
            </li>
            <li>
                <a href="#">Business</a>
            </li>
          </ul>
      <ul id="menu-user-links">
            <% if current_user %>
                <li>
                    <%= link_to 'Log out', log_out_path%>
                </li>
            <% else %>
                <li>
                    <%= link_to 'Sign up', sign_up_path%>
                </li>
                <li>
                    <%= link_to 'Log in', log_in_path %>
                </li>
            <% end %>
        </ul>
    </div>
</div>

<% flash.each do |name, msg| %>
<%= content_tag :div, msg, :id => "flash_#{name}"%>
<% end %>
<%= yield %>

</body>
</html>
